In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('fuel_data.csv')
data.head()

,Unnamed: 0,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29523 entries, 0 to 29522
Data columns (total 12 columns):
Unnamed: 0                      29523 non-null int64
record_id                       29523 non-null object
utility_id_ferc1                29523 non-null int64
report_year                     29523 non-null int64
plant_name_ferc1                29523 non-null object
fuel_type_code_pudl             29523 non-null object
fuel_unit                       29343 non-null object
fuel_qty_burned                 29523 non-null float64
fuel_mmbtu_per_unit             29523 non-null float64
fuel_cost_per_unit_burned       29523 non-null float64
fuel_cost_per_unit_delivered    29523 non-null float64
fuel_cost_per_mmbtu             29523 non-null float64
dtypes: float64(5), int64(3), object(4)
memory usage: 2.7+ MB

In [4]:
data.isnull().sum()
#number of NaN values and related feature

Unnamed: 0                        0
record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [5]:
data.shape
#shape rows and columns

(29523, 12)

In [6]:
data.describe()
#summary statistics

,Unnamed: 0,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
count,29523.000000,29523.000000,29523.000000,2.952300e+04,29523.000000,29523.000000,2.952300e+04,29523.000000
mean,14761.000000,118.601836,2005.806050,2.622119e+06,8.492111,208.649031,9.175704e+02,19.304354
std,8522.700335,74.178353,7.025483,9.118004e+06,10.600220,2854.490090,6.877593e+04,2091.540939
min,0.000000,1.000000,1994.000000,1.000000e+00,0.000001,-276.080000,-8.749370e+02,-41.501000
25%,7380.500000,55.000000,2000.000000,1.381700e+04,1.024000,5.207000,3.778500e+00,1.940000
50%,14761.000000,122.000000,2006.000000,2.533220e+05,5.762694,26.000000,1.737100e+01,4.127000
75%,22141.500000,176.000000,2012.000000,1.424034e+06,17.006000,47.113000,4.213700e+01,7.745000
max,29522.000000,514.000000,2018.000000,5.558942e+08,341.260000,139358.000000,7.964521e+06,359278.000000

In [7]:
data.groupby('fuel_unit')['fuel_unit'].count()

fuel_unit
bbl        7998
gal          84
gramsU      464
kgU         110
mcf       11354
mmbtu       180
mwdth        95
mwhth       100
ton        8958
Name: fuel_unit, dtype: int64

In [8]:
data[['fuel_unit']] = data[['fuel_unit']].fillna(value = 'mcf')
data.isnull().sum()
#final check of NaN values after fiiling max occuring fuel unit

Unnamed: 0                      0
record_id                       0
utility_id_ferc1                0
report_year                     0
plant_name_ferc1                0
fuel_type_code_pudl             0
fuel_unit                       0
fuel_qty_burned                 0
fuel_mmbtu_per_unit             0
fuel_cost_per_unit_burned       0
fuel_cost_per_unit_delivered    0
fuel_cost_per_mmbtu             0
dtype: int64

In [9]:
data.groupby('report_year')['report_year'].count()
#grouping by report year

report_year
1994    1235
1995    1201
1996    1088
1997    1094
1998    1107
1999    1050
2000    1373
2001    1356
2002    1205
2003    1211
2004    1192
2005    1269
2006    1243
2007    1264
2008    1228
2009    1222
2010    1261
2011    1240
2012    1243
2013    1199
2014    1171
2015    1093
2016    1034
2017     993
2018     951
Name: report_year, dtype: int64

In [10]:
data.groupby('fuel_type_code_pudl')['report_year'].first()
#fuel type code year first entries

fuel_type_code_pudl
coal       1994
gas        1994
nuclear    1994
oil        1994
other      1994
waste      1994
Name: report_year, dtype: int64

In [11]:
#checking for duplicate data
data.duplicated().any()

False

# Question 1
If you’re given two lists:

A = [1,2,3,4,5,6], B = [13, 21, 34]

The task is to create a list with the elements of A and B in a single dimension with output:

A_B =  [1,2,3,4,5,6,13, 21, 34]

Which of the following option is the best way to create this list?

In [12]:
A = [1,2,3,4,5,6]
B = [13, 21, 34]
A.extend(B)
A

[1, 2, 3, 4, 5, 6, 13, 21, 34]

In [13]:
A = [1,2,3,4,5,6]
B = [13, 21, 34]
A.append(B)
A

[1, 2, 3, 4, 5, 6, [13, 21, 34]]

# Question 2
How do you create an identity matrix in python?

In [14]:
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [15]:
np.array([1, 0, 0], [0, 1, 0], [0, 0, 1])

ValueError: only 2 non-keyword arguments accepted

In [16]:
np.array[(1, 0, 0), (0, 1, 0), (0, 0, 1)]

TypeError: 'builtin_function_or_method' object is not subscriptable

In [17]:
eye(3)

NameError: name 'eye' is not defined

# Question 3
Which of the following fuel type code has the lowest average fuel cost per unit burned?

In [18]:
data.groupby('fuel_type_code_pudl').fuel_cost_per_unit_burned.mean().sort_values()

fuel_type_code_pudl
gas          13.659397
other        18.253856
waste        19.518122
coal         67.421830
oil         168.877086
nuclear    4955.157002
Name: fuel_cost_per_unit_burned, dtype: float64

# Question 4
What is the standard deviation and 75th percentile of the measure of energy per unit (Fuel_mmbtu_per_unit) in two decimal places?

In [19]:
# standard deviation of the measure of energy per unit(fuel_mmbtu_per_unit) in two decimal places
round(data['fuel_mmbtu_per_unit'].std(), 2)

10.6

In [20]:
#75th percentile of the measure of energy per unit(fuel_mmbtu_per_unit) in two decimal places
round(data['fuel_mmbtu_per_unit'].quantile(0.75), 2)

17.01

# Question 5
What is the skewness and kurtosis for the fuel quantity burned in two decimal places?

In [21]:
#skewness for the fuel quantity burned in two decimal places
round(data['fuel_qty_burned'].skew(), 2)

15.85

In [22]:
#kurtosis for the fuel quantity burned in two decimal places
round(data['fuel_qty_burned'].kurt(), 2)

651.37

# Question 6
Which feature has missing values and what is the total number of missing value and percentage of the missing rows as a factor of the total number of rows in three decimal places?

In [23]:
total_missing = 180 #fuel_unit feature explored above in cell 4 using data['fuel_unit'].isnull().sum()
percent_missing = (total_missing / data.shape[0]) * 100
round(percent_missing, 3)

0.61

# Question 7
The feature with missing values falls under what category? What missing value imputation technique would you use?

In [24]:
data['fuel_unit'].dtypes

dtype('O')

# Question 8
Which of the features has the second and third lowest correlation with the Fuel Cost Per Unit Burned?

In [25]:
data.corr()['fuel_cost_per_unit_burned'].sort_values()

utility_id_ferc1               -0.037863
fuel_qty_burned                -0.018535
fuel_mmbtu_per_unit            -0.010034
fuel_cost_per_mmbtu            -0.000437
fuel_cost_per_unit_delivered    0.011007
report_year                     0.013599
Unnamed: 0                      0.013806
fuel_cost_per_unit_burned       1.000000
Name: fuel_cost_per_unit_burned, dtype: float64

# Question 9
For the fuel type coal, what is the percentage change in the fuel cost per unit burned in 1998 compared to 1994?

In [26]:
coal1994 = data.loc[(data['fuel_type_code_pudl'] == 'coal') & (data['report_year'] == 1994)]
coal1998 = data.loc[(data['fuel_type_code_pudl'] == 'coal') & (data['report_year'] == 1998)]

coal_94 = coal1994['fuel_cost_per_unit_burned'].sum()
coal_98 = coal1998['fuel_cost_per_unit_burned'].sum()

perc_change = (coal_98 - coal_94) / coal_94 * 100 
perc_change

-20.567654518260518

# Question 10
Which year has the highest average fuel cost per unit delivered?

In [27]:
data.groupby('report_year')['fuel_cost_per_unit_delivered'].mean().sort_values(ascending = False)

report_year
1997    11140.197239
1996     9196.705948
2000      985.362877
2009      652.694163
2018      499.269966
2015      326.535511
1998      287.154420
2014      192.737183
2013      172.307591
2004      139.524275
2016      103.901761
2010       91.862105
1994       63.636060
2012       60.994502
2001       60.050396
2011       59.774667
2008       58.588197
2003       55.663493
2002       47.594361
2017       46.196861
2007       43.325023
2005       41.438184
2006       38.657484
1995       32.735269
1999       25.551627
Name: fuel_cost_per_unit_delivered, dtype: float64